* {
	font-size: 15px;
}

window#waybar {
	all: unset;
	/* margin: 10px; */
	background-color: alpha(#000000, 0); /* edited by scripts/set-wallpaper */
	/* border-bottom: rgba(51, 204, 255, 0.657) 1px solid; */
}

.modules-left {
	padding-left: 2px;
}
.modules-center {
	border-radius: 10px;
	padding-top: 3px;
}
#custom-notification {
	padding: 0px 5px;
	transition: all 0.3s ease;
}
#clock {
	padding: 0px 5px;
	transition: all 0.3s ease;
}
#cpu,
#memory,
#mpris,
#cava {
	padding-right: 6px;
}
#workspaces {
	margin: 0;
	padding: 0;
	color: white;
	border-radius: 36px;
}

#workspaces :hover {
	background-color: #000;
}

#workspaces button {
	padding: 2px 5px;
	border-radius: 36px;
	color: white;
	text-shadow: #000 0 0 2;

	border: 0px;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.05s ease-out;
}

#workspaces button.active {
	padding: 0 12px;
	margin: 0 2px;
	color: white;
	background: #171b2c;
	border-radius: 15px;
	transition: all 0.05s ease-in-out;
}

#workspaces button.urgent {
	background-color: black;
	color: white;
}

#language {
	padding-bottom: 3px;
}
#bluetooth {
	padding: 0px 5px;
	transition: all 0.3s ease;
}
#network {
	padding: 0px 10px 0 5px;
	transition: all 0.3s ease;
}
#battery {
	padding: 0px 5px;
	transition: all 0.3s ease;
}

#battery.warning:not(.charging) {
	color: #ffbe61;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cava {
	padding-left: 6px;
	color: #fff;
	text-shadow: #000 0 0 2;
}
#pulseaudio-slider {
	padding: 0 6px;
}
#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	/* border: 2px solid snow; */
	box-shadow: none;
	/* box-shadow: inset 0 0 2px 2px rgba(66, 164, 245, 0.416); */
}
#pulseaudio-slider trough {
	border: none;
	min-height: 2px;
	min-width: 80px;
	border-radius: 5px;
	background-color: black;
	border: 1px solid rgb(51, 68, 95);
}
#pulseaudio-slider highlight {
	border: none;
	/* border: 1px solid #42a5f5; */
	/* background-color: #42a5f5; */
	background-color: white;
}
#submap {
	color: #00ff77;
}
#group-expand {
	padding: 0px 5px;
	transition: all 0.3s ease;
}
#custom-expand {
	padding: 0px 5px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	transition: all 0.3s ease;
}
#custom-expand:hover {
	color: rgba(255, 255, 255, 0.2);
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
#custom-endpoint {
	color: transparent;
	text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray {
	transition: all 0.3s ease;
}
#tray menu * {
	padding: 0px 3px;
	transition: all 0.3s ease;
}
