* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(35, 45, 89, 0.27);
	background-image: url("/home/alex/dotfiles/assets/logout-bg.jpg");

	background-size: 100%;
	background-color: #070819;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

button {
	border-color: black;
	color: rgba(255, 255, 255, 0);
	background-color: #1e1e1e;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	border-radius: 10px;
	background-color: transparent;
	margin: 0.75em;
}

button > * {
	opacity: 0;
}

button:focus > * {
	opacity: 0.8;
}

button:focus {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
	color: rgb(255, 255, 255);
	transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682), box-shadow 0.5s ease-in;
	background-color: rgba(66, 164, 245, 0.828);
	background-size: 24%;
	outline-style: none;
}

#lock {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/lock.png");
}

#logout {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/logout.png");
}

#suspend {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/suspend.png");
}

#hibernate {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/hibernate.png");
}

#shutdown {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/shutdown.png");
}

#reboot {
	background-image: url("/home/alex/dotfiles/.config/wlogout/assets/reboot.png");
}
